
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$colorDorado: #d0a321;
$rutaImagenes: 'http://localhost:81/aron/public/images/';
